{% extends "todolist/layout.html" %}

{% block body %}
    <div class="container mt-4 col-sm-6">
        <div class="card text-center">
            <div class="card-header">
                To-do list
            </div>
            <div class="card-content">
                Another to-do list 🙂
            </div>
            <div class="card-footer">
                <a class="btn btn-success" href="{% url 'todolist:add' %}">Add todo</a>
            </div>
        </div>
    </div>
{% endblock body %}